%table.table.tablesorter.tablesorter-default
  %thead
    %tr
      %th Description
      %th Array
      %th Customer
      %th Install date
      %th Initial value
      %th Current Value
      %th{:colspan => '2', 'data-sorter'=>'false', 'data-filter'=>'false'}
  %tbody
    - components.each do |component|
      %tr
        %td= link_to component.description, component
        %td= link_to component.comp_array.serial_number, component.comp_array
        %td= link_to component.customer.name, component.customer
        %td= component.install_date
        %td= number_to_currency(component.initial_value)
        %td= number_to_currency(component.current_value.round(2))
        %td= renewal_flag(component)
        %td
          .btn-group.btn-group-sm
            %button.btn.btn-secondary.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
              Action
            .dropdown-menu
              = link_to 'Show', component, class: 'dropdown-item'
              = link_to 'Edit', edit_component_path(component), class: 'dropdown-item'
              .dropdown-divider
              = link_to 'Delete', component, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item'
