%table.table.tablesorter.tablesorter-default
  %thead
    %tr
      %th Description
      %th Array
      %th Install date
      %th Initial value
      %th Current Value
      %th{:colspan => show ? '4' : '3', 'data-sorter'=>'false', 'data-filter'=>'false'}
  %tbody
    - components.each do |component|
      %tr
        %td= component.description
        %td= link_to component.comp_array.description, component.comp_array
        %td= component.install_date
        %td= number_to_currency(component.initial_value)
        %td= number_to_currency(component.current_value.round(2))
        %td= renewal_flag(component)
        - if show
          %td= link_to 'Show', component
        %td= link_to 'Edit', edit_component_path(component)
        %td= link_to 'Delete', component, method: :delete, data: { confirm: 'Are you sure?' }
