%table.table.tablesorter.tablesorter-default
  %thead
    %tr
      %th Name
      %th Current Value
      %th Arrays
      %th Components
      %th{'data-sorter'=>'false', 'data-filter'=>'false'}
      %th{:colspan => show ? '4' : '3', 'data-sorter'=>'false', 'data-filter'=>'false'}
  %tbody
    - customers.each do |customer|
      %tr
        %td= customer.name
        %td= number_to_currency(customer.total_value_at_date(Date.today))
        %td= customer.comp_arrays.count
        %td= customer.components.count
        %td= renewal_flag(customer)
        - if show
          %td= link_to 'Show', customer
        %td= link_to 'Edit', edit_customer_path(customer)
        %td= link_to 'Delete', customer, method: :delete, data: { confirm: 'Are you sure?' }
