%p#notice= notice
%h1 Arrays
%table.table.table-striped
  %thead
    %tr
      %th Description
      %th Install date
      %th Initial value
      %th Location
      %th Customer
      %th Current Value
      %th Comp. Current Value
      %th Total Current Value
      %th{:colspan => "3"}
  %tbody
    - @comp_arrays.each do |comp_array|
      %tr
        %td= comp_array.description
        %td= comp_array.install_date
        %td= number_to_currency(comp_array.initial_value)
        %td= comp_array.location
        %td= comp_array.customer.name
        %td= number_to_currency(comp_array.current_value.round(2))
        %td= number_to_currency(comp_array.current_value_of_components.round(2))
        %td= number_to_currency(comp_array.total_current_value.round(2))
        %td= link_to 'Show', comp_array
        %td= link_to 'Edit', edit_comp_array_path(comp_array)
        %td= link_to 'Destroy', comp_array, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Array', new_comp_array_path
