%p#notice= notice
%p
  %strong Description:
  = @comp_array.description
%p
  %strong Install date:
  = @comp_array.install_date
%p
  %strong Initial value:
  = @comp_array.initial_value
%p
  %strong Location:
  = @comp_array.location
%p
  %strong Customer:
  = @comp_array.customer.name
= link_to 'Edit', edit_comp_array_path(@comp_array)
|
= link_to 'Back', comp_arrays_path
